---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_LANG } from "../consts";
const { primaryTitle } = Astro.props;
const title = primaryTitle ? `${primaryTitle} - ${SITE_TITLE}` : SITE_TITLE;
---

<html class="js no-touch progressive-image no-reduced-motion progressive" lang={SITE_LANG} dir="ltr">
<head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
        }
        .login-container {
            width: 100%;
            max-width: 300px;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background: white;
        }
        .login-container h2 {
            color: #333;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .login-input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .login-button {
            width: calc(100% - 20px);
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007aff;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        .login-button:hover {
            background-color: #0051a8;
        }
    </style>
</head>
<body class="page-landing">
<Header />
<div class="login-container">
    <h2>登录你的Apple ID账号</h2>
    <input type="text" class="login-input" placeholder="电子邮件地址" />
    <input type="password" class="login-input" placeholder="密码" />
    <button class="login-button">登录</button>
</div>
<Footer />
</body>
</html>
